* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
}

.container-stylized {
    background-color: rgb(255, 247, 236);
    border-radius: 10px;
    border: 3px solid #00853B;
    box-shadow: 0px 0px 10px black;
    padding-left: 1%;
    padding-right: 1%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
}

.title1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 15px;
}

main {
    border-radius: 10px;
}

.text1 {
    margin-top: 20px;
    margin-bottom: 5px;

    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.decl-defesa {
    width: 345px;
    height: 50px;
    margin-bottom: 12px;
    padding-top: 6px;

    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: white;

    border-radius: 5px;
    background-color: #00853B;
    box-shadow: 0px 0px 2px black;
    text-shadow: 0px 0px 3px black;
}

.decl-defesa:hover {
    background-color: #fff34b;
    color: black;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 0.5px black;
}

.decl-defesa-alert {
    background-color: rgb(255, 94, 0);
}

.decl-defesa-alert:hover {
    background-color: rgb(255, 94, 0);
    color: white;
    box-shadow: 0px 0px 2px black;
    text-shadow: 0px 0px 3px black;
}

.legislation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legislation .text1 {
    margin-top: 8px;
}

.legislation a {
    text-decoration: none;
    margin-bottom: 3px;
    color: #242424;
}

.legislation a span:hover {
    color: #337ab7;
    text-decoration: underline;
}

.others {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.others .text1 {
    margin-top: 17px;
}

.others a {
    text-decoration: none;
    margin-bottom: 3px;
    color: #242424;
}

.others a span:hover {
    color: #337ab7;
    text-decoration: underline;
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 12px;
}

.contacts1 {
    white-space: nowrap;
}

.contacts1 .text1 {
    margin-top: 17px;
}

.ct1 {
    margin-bottom: 3px;
    margin-left: 2%;
    color: #242424;
}

.contacts2 {
    margin-left: 15px;
    white-space: nowrap;
}

.contacts2 .text1 {
    margin-top: 17px;
}

.contacts2 a {
    text-decoration: none;
    margin-right: 2%;
    margin-bottom: 8px;
    
    display: flex;
    color: #242424;
}

.contacts2 a img {
    width: 25px;
    height: 25px;
}

.contacts2 a img:hover {
    transform: scale(1.2);
}

.contacts2 a span {
    margin-top: 5px;
    margin-left: 12px;
}

footer {
    margin-top: 30px;
}

.footer_text {
    font-size: 11px;
}

.footer_text a {
    color: #337ab7;
    text-decoration: none;
}

.footer_text a:hover {
    text-decoration: underline;
}


/*declarations.html*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

.button a img {
    width: 35px;
    height: 35px;
}